<style>
    .btn-space {
        margin-left: -5%;
        background-color: cornflowerblue;
        font-size: large;
    }
</style>


<!-- Tablee -->

<div ng-app="myApp">
    <div ng-controller="myCtrl" ng-init="BuscarPessoa()" class="divList">
        <h2 class="text-center">Lista de Pessoas</h2>
        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" id="modalForm" data-target="#myModal"><i class="glyphicon glyphicon-plus"></i>  Pessoa </button>
        <p class="divHead"></p>
        <table cellpadding="12" class="table table-bordered table-hover">
            <tr class="text-center" style="background-color: #828282">
                <td>
                    <b>ID</b>
                </td>
                <td>
                    <b>Nome</b>
                </td>
                <td>
                    <b>Email</b>
                </td>
                <td>
                    <b>Telefone</b>
                </td>
                <td>
                    <b>Idade</b>
                </td>
                <td>
                    <b>Opções</b>
                </td>
            </tr>
            <tr ng-repeat="Obj in pessoas" class="text-center">
                <td>
                    {{Obj.IdPessoa}}
                </td>
                <td>
                    {{Obj.Nome}}
                </td>
                <td>
                    {{Obj.Email}}
                </td>
                <td>
                    {{Obj.Telefone}}
                </td>
                <td>
                    {{Obj.Idade}}
                </td>
                <td>
                    <button type="submit" class="btn btn-warning" ng-click="UpdatePessoa(Obj)">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </button>
                    <button type="submit" class="btn btn-danger" ng-click="DeletePessoa(Obj)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>
                </td>
            </tr>
        </table>
        <!-- EndTable -->
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title text-center">Nova Pessoa</h4>
                    </div>
                    <div class="modal-body text-center">
                        <form>
                            <div class="row">
                                <input type="hidden" class="form-control"  value="{{Obj.IdPessoa}}" ng-model="F_IdPessoa"/>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Nome" value="{{Obj.Nome}}" ng-model="F_Nome">
                                    <br />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Email" value="{{Obj.Email}}" ng-model="F_Email">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Telefone" value="{{Obj.Telefone}}" ng-model="F_Telefone">
                                    <br />
                                </div>
                                <div class="col-md-6">
                                    <input type="number" class="form-control" placeholder="Idade" value="{{Obj.Idade}}" ng-model="F_Idade">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="btnSave" class="btn btn-success" ng-click="GravarPessoa()">
                            Gravar <i class="glyphicon glyphicon-ok"></i>
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- EndModal-->

    </div>
    <div>
        @Html.Hidden("IdPessoa_")
    </div>
</div>
